/Other
/BACKUP
/Debug
/ipch
/trash
/YLib
/Z*

*.suo
*.user
*.sln.docstates

*.exe
*.dll
*.obj

*.txt
*.doc

*.def
*.dsp
*.lib
*.doc
*.manifest
*.lnt
*.pm
*.xls
*.dbg
*.pdb
*.DBG
*.o
*.plg
*.keep
*.ilk
*.exp
*.tlog

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile


*.rar
